<h2>About</h2>
<hr />

<h4>Application Created By:</h4>
<p class="pkClassAboutP" >Klepacz Przemysław</p>
<h4>GitHub:</h4>
<p class="pkClassAboutP">github.com/KlepaczPrzemyslaw</p>
<h4>Project Date:</h4>
<p class="pkClassAboutP">Start 27.08.2018 / End 12.09.2018</p>

