<h2>Contact</h2>
<hr />

<h4>Address:</h4>

<address class="pkClassContactAddress">
    City<br />
    Street<br />
    Post Code<br />
    Phone: 123-456-789
</address>

<h4>Emails:</h4>

<address class="pkClassContactAddress">
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
