<h2>Email Confirmation</h2>

<h4>Confirm Your Email!</h4>
<hr />

<p>We need confirmation by email.</p>
<p>Please click confirmation link in the message, to unlock account.</p>
<p>Without confirmation, You won't log in.</p>
